*
!.gitignore
!**/*.cpp
!**/*.h
!frame_gen/
!frame_gen/frame_gen/
!frame_gen/frame_gen/hls.app
!frame_gen/frame_gen/solution1/
!frame_gen/frame_gen/solution1/script.tcl
!frame_gen/frame_gen/solution1/directives.tcl
!frame_processing/
!frame_processing/frame_processing/
!frame_processing/frame_processing/hls.app
!frame_processing/frame_processing/solution1/
!frame_processing/frame_processing/solution1/script.tcl
!frame_processing/frame_processing/solution1/directives.tcl
!frame_buffer/
!frame_buffer/hls.app
!frame_buffer/solution1/
!frame_buffer/solution1/script.tcl
!frame_buffer/solution1/directives.tcl
